﻿
<div class="container row" ng-controller="RappiController as con">
    <div class="col s12">
        <div class="col s12 m6">
            <img class="right"  src="../content/images/rappi.png" style="max-width:100px;" />
        </div>
            <h5 class="col s12 m6 red-text "style="font-family;font-family:cursive;">Arthur Gil</h5>
        
    </div>
    
    <div class="formulario col s12 m6 ">
        <div class="input-field col  step1" ng-show="step==1">
            <input type="number" class="validate" required ng-model="countTestCasesT">
            <label for="first_name">Test cases</label>
            <button ng-click="step1(countTestCasesT)" class="btn red waves-effect">Continue</button>
        </div>

        <div class="col  step2" ng-show="step==2">
            <div class="input-field col s6">
                <input type="number" class="validate" ng-model="step2.N">
                <label for="first_name">Top matrix number</label>
            </div>
            <div class="input-field col s6">
                <input type="number" class="validate" ng-model="step2.M">
                <label for="first_name">Number of operations</label>
            </div>
            <button ng-click="step2(step2)" class="btn red waves-effect">Continue</button>
        </div>

        <div class="col  step3" ng-show="step==3">
            <div class="col s12">
                <label>Select Query Type</label>
                <select class="browser-default s6" ng-model="queryType">
                    <option value="1">Update</option>
                    <option value="2">Query</option>
                </select>
            </div>

            <div ng-show="queryType==1">
                <div class="input-field col s3">
                    <input type="number" class="validate" ng-model="cords1.x">
                    <label for="first_name">X</label>
                </div>
                <div class="input-field col s3">
                    <input type="number" class="validate" ng-model="cords1.y">
                    <label for="first_name">Y</label>
                </div>
                <div class="input-field col s3">
                    <input type="number" class="validate" ng-model="cords1.z">
                    <label for="first_name">Z</label>
                </div>

                <div class="input-field col s3">
                    <input type="number" class="validate" ng-model="cords1.v">
                    <label for="first_name">Value</label>
                </div>

                <button ng-click="update(cords1)" class="btn red waves-effect">Continue</button>

            </div>

            <div ng-show="queryType==2">
                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords1.x">
                    <label for="first_name">X1</label>
                </div>
                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords1.y">
                    <label for="first_name">Y1</label>
                </div>
                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords1.z">
                    <label for="first_name">Z1</label>
                </div>

                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords2.x">
                    <label for="first_name">X2</label>
                </div>
                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords2.y">
                    <label for="first_name">Y2</label>
                </div>
                <div class="input-field col s4">
                    <input type="number" class="validate" ng-model="cords2.z">
                    <label for="first_name">Z2</label>
                </div>

                <button ng-click="query(cords1,cords2)" class="btn red waves-effect">Continue</button>
            </div>

        </div>

    </div>
    <div class="col s12 m6 card red white-text card-content"style="min-height:200px;">
        <h5 class="col card-title center-align col s12 ">Out Put</h5>
        <br/><br/>
        <div ng-bind-html="outPut">        </div>
        <br/><br/>

    </div>
</div>
